h1 {
  
  color: purple;
  
}

h2 {
  
  color: purple;
 
}


body {
  font-family: "Helvetica", sans-serif;
  margin: 100px 300px 150px 400px;
}

a:link, a:visited {
 background-color: white;
  color: black;
  padding: 35px 35px 35px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 200px;
  margin: 20px;

}

a:hover, a:active {
  background-color: #ADD8E6;
  color: white;
  
}

p2 {
  
  text-align: center;
  width: 600px;
}

p3 {
  
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 250%;
  

}

