h1 {
  
  color: orange;
  
}

h2 {
  
  color: orange;
 
}


body {
  font-family: "Helvetica", sans-serif;
  margin: 100px 300px 150px 300px;
}

a:link, a:visited {
 background-color: DodgerBlue;
  color: white;
  padding: 50px 80px 50px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 200px;
  height: 100px;
  margin: 20px;

}

a:hover, a:active {
  background-color: #ADD8E6;
  
}

p3 {
  
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 300%;
  text-align: center;
}
