h1 {
  
  color: MediumSeaGreen;
  
}

h2 {
  
  color: MediumSeaGreen;
 
}

/* wip message */
small {
  font-size: smaller;
}

body {
  font-family: "Helvetica", sans-serif;
  margin: 100px 300px 150px 300px;
}

a:link, a:visited {
 background-color: DodgerBlue;
  color: white;
  padding: 14px 25px 14px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

}

a:hover, a:active {
  background-color: #ADD8E6;
  
}

a:link {
  width: 200px;
  height: 100px;
  padding: 50px;
  margin: 20px;
  text-align: center;
}

p3 {
  
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 300%;
  text-align: center;
}
