h1 {
  
  color: MediumSeaGreen;
  
}

/* wip message */
small {
  font-size: smaller;
}

body {
  font-family: "Helvetica", sans-serif;
  margin: 100px 300px 150px 300px;
}

/* unvisited link */
a:link {
  color: DodgerBlue;
}

/* visited link */
a:visited {
  color: Violet;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

}
