h1 {
  
  color: MediumSeaGreen;
  
}

h2 {
  
  color: MediumSeaGreen;
 
}

/* wip message */
small {
  font-size: smaller;
}

body {
  font-family: "Helvetica", sans-serif;
  margin: 100px 300px 150px 300px;
}

a:link, a:visited {
 background-color: DodgerBlue;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

}

a:hover, a:active {
  background-color: #ADD8E6;
  
}

a:link {
  text-align: center;
}
